body{
    background-color: slategray;
}
/* Changed some headers to complementary colour of bg */
h3, h4, h5 {
    color:#5B6875;
}

.container{
	background-color: white;
	width:90vw;
}
.headerRow {
	height:15%;
	margin-top: 58px;
}
.contentRow {
	height: 85%;
}
.caesarRow{
    /* background-color: snow; */
    width: 80%;
    margin: auto;
}
.oopRow{
    /* background-color: beige; */
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.quizRow{
    /* background-color:salmon; */
    width: 80%;
    margin: auto;
}
.websiteRow{
    width: 80%;
    margin: auto;
}
.website2Row{
    width: 80%;
    margin: auto;
}
.aboutMeRow{
    width:80%;
    /* background-color: sandybrown; */
    margin: auto;
}
.mediaRow{
    margin: auto;
    max-width:40%;
}
.emailRow{
    width:50%;
    margin:auto;
}
.welcomeRow{
    width:80%;
    margin: auto
}

.header {
	background-image: url("../images/Header.jpg");
    background-color: black;
	height: 168px;
    background-position: center;
    background-size: cover;
}
html {
    scroll-behavior: smooth;
}
iframe{
    width:100%;
    height:100%
}